<%- include('../partials/header') %>
<header id="rstrnt-info">
    <h2><%= rstrnt.name %></h2>
    <p><span>Link:</span> <a href="<%= rstrnt.link %>">click here</a>&nbsp;|
        <span>Address:</span>
        <%= rstrnt.address %>&nbsp;|
        <span>Phone:</span>
        <%= rstrnt.phone %>
    </p>
    <% if (user) { %>
        <form action="/rstrnts/<%= rstrnt._id %>/edit" method="GET">
            <button type="submit">Edit this restaurant?</button>
        </form>
        <form action="/rstrnts/<%= rstrnt._id %>?_method=DELETE" method="POST">
            <button type="submit">Delete this restaurant?</button>
        </form>
        <% } %>
    </header>
    
    <main id="rstrnt-details">
    <section id="menu-items">
        <p>Safe menu items</p>
        <% rstrnt.menus.forEach(function(m) { %>
            <div>$<%= m.price %> | <%= m.name %>
                <% if (user?._id.equals(m.creator)) { %>
                    <form action="/menus/<%= m._id %>?_method=DELETE" method="POST">
                        <button type="submit">X</button>
                    </form>
                <% }; %>
            </div>
            <% }); %>
                <form id="add-menu" action="/rstrnts/<%= rstrnt._id %>/menus" method="POST">
                    <div class="input-group mb-3">
                        <input type="text" name="price" class="form-control" value="$">
                        <input type="text" name="name" class="form-control" value="Menu item">
                        <input type="submit" class="input-group-text" value="+">
                    </div>
                </form>
    </section>

    <section id="comments">
        <% rstrnt.comments.forEach(function(c) { %>
            <div>
                <h3>
                    <img src="<%= c.creatorAvatar %>" alt="avatar">
                <% if (user?._id.equals(c.creator)) { %>
                    You've said..
                </h3>
                <form action="/comments/<%= c._id %>/edit" method="GET">
                    <button type="submit">Edit this comment?</button>
                </form>
                <form action="/comments/<%= c._id %>?_method=DELETE" method="POST">
                    <button type="submit">Delete this comment?</button>
                </form>
                <% } else { %>
                    <%= c.creatorName %> says...
                </h3>
                <% } %>
                <%= c.satisfaction %> | <%= c.content %>
            <% }); %>
            </div>
            
        <% if (!commented) { %>
        <a id="new-comment" href="/rstrnts/<%= rstrnt.id %>/comments/new">Add Comment</a>
        <% } %>
    </section>
</main>
<%- include('../partials/footer') %>
