<%- include('../partials/header') %>
<section id="rstrnt-info">
    <h2 class="title"><%= rstrnt.name %></h2>
    <p>
        &#128279;&nbsp;<a href="<%= rstrnt.link %>" target="_blank">Website</a>&nbsp;|&nbsp;
        &#128205;&nbsp;<%= rstrnt.address %>, <%= rstrnt.city %>, <%= rstrnt.state %>&nbsp;|&nbsp;
        &#128222;&nbsp;<%= rstrnt.phone %>
    </p>
</section>
    
<section id="rstrnt-details">
    <article id="menus">
        <p>Safe menu items</p>
        <div id="menu-items">
        <% if (!rstrnt.menus.length) { %>
        <p>None yet added</p>
        <% } else { %>
        <% rstrnt.menus.forEach(function(m) { %>
            <div>$<%= m.price %> | <%= m.name %>
                <% if (user) { %>
                    <form action="/menus/<%= m._id %>?_method=DELETE" method="POST">
                        <button type="submit">X</button>
                    </form>
                <% } %>
            </div>
        <% }); %>
        <% } %>
        </div>
        <% if (user) { %>    
        <form id="add-menu" action="/rstrnts/<%= rstrnt._id %>/menus" method="POST">
            <div class="input-group">
                <input type="text" name="price" class="form-control" placeholder="$">
                <input type="text" name="name" class="form-control" placeholder="Item">
                <div class="input-group-prepend">
                    <input id="plus-menu" type="submit" class="input-group-text" value="Add">
                </div>
            </div>
        </form>
        <% } %>    
    </article>

    <article id="comments">
    <% if (!rstrnt.comments.length && !user) { %>
        <div class="comment">No comments yet</div>
    <% } else { %>
    <% if (!commented) { %>
        <a id="new-comment" href="/rstrnts/<%= rstrnt.id %>/comments/new">
            <div class="comment owner">+ Add comment</div>
        </a>
        <% } %>
        <% rstrnt.comments.forEach(function(c) { %>
        <div class="comment <%= user?._id.equals(c.creator) ? 'owner' : ''%>">
            <div class="comment-header">
                <h3>
                    <img src="<%= c.creatorAvatar %>" alt="avatar">
                <% if (user?._id.equals(c.creator)) { %>
                    You've said...
                </h3>
                <div>
                    <p>
                        <%- c.satisfaction === 1 ? '<img src="https://i.imgur.com/pEFTBIi.png" alt="bad">' : '' %>
                        <%- c.satisfaction === 2 ? '<img src="https://i.imgur.com/7f0hlbq.png" alt="neutral">' : '' %>
                        <%- c.satisfaction === 3 ? '<img src="https://i.imgur.com/GP6uHKU.png" alt="great">' : '' %>
                    </p>
                    <form action="/comments/<%= c._id %>/edit" method="GET">
                        <button type="submit" class="btn edit">Edit</button>
                    </form>
                    <form action="/comments/<%= c._id %>?_method=DELETE" method="POST">
                        <button type="submit" class="btn del">X</button>
                    </form>
                </div>
                <% } else { %>
                    <%= c.creatorName %>
                </h3>
                <p>
                    <%- c.satisfaction === 1 ? '<img src="https://i.imgur.com/pEFTBIi.png" alt="bad">' : '' %>
                    <%- c.satisfaction === 2 ? '<img src="https://i.imgur.com/7f0hlbq.png" alt="neutral">' : '' %>
                    <%- c.satisfaction === 3 ? '<img src="https://i.imgur.com/GP6uHKU.png" alt="great">' : '' %>
                </p>                
                <% } %>
            </div>
            <%= c.content %>
        </div>
        <% }); %>
        <% } %>
    </article>
</section>

<section id="rstrnt-edit">
<% if (user) { %>
    <div>
        <form action="/rstrnts/<%= rstrnt._id %>/edit" method="GET">
            <button type="submit" class="btn edit">Edit restaurant</button>
        </form>
        <form action="/rstrnts/<%= rstrnt._id %>?_method=DELETE" method="POST">
            <button type="submit" class="btn del">Delete restaurant</button>
        </form>
    </div>
    <% } %>
</section>

<%- include('../partials/footer') %>
